.mainheading{
    text-align: center;
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh2zUI80ElJ5nTzE0IbMDglcL0n5vpThuVttMn6kBjRZrK5jRA)
}
body{
    background-size: cover;
}
a {
    color: black;
}

